.user-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

/* 4 màu nền khác nhau luân phiên */
.color-0 {
    background-color: #f8f9fa;
}

.color-1 {
    background-color: #e0f7fa;
}

.color-2 {
    background-color: #f1f8e9;
}

.color-3 {
    background-color: #fce4ec;
}

.color-4 {
    background-color: #fff3e0;
}

.color-5 {
    background-color: #ede7f6;
}

.color-6 {
    background-color: #e3f2fd;
}

.color-7 {
    background-color: #f9fbe7;
}

.color-8 {
    background-color: #e8f5e9;
}

.color-9 {
    background-color: #fff8e1;
}

/* đổi màu nên sau khi hover */

.user-card:hover {
    background-color: #f8f9;
}

.hi {
    max-width: 80%;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-items: center;
}

.hello {
    align-items: center;
    justify-items: center;
    width: 50px;
    height: 50px;
}